/* NAVBAR*/

.nav-container {
    height: 70px;
    width: 100%;
    margin: 0 auto;
    background-color: #F8F9FA;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.navbar {
    margin: 0 auto;
    width: 800px;
    height: inherit;
    font-weight: 600;
}

.container800 {
    max-width: 800px;
    margin: 0 auto;
}

/*REGISTRATION FORM*/

#registration-container {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

#login-container {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

/*MAIN PAGE*/

#main-page-image-container {
    background-image: url("../assets/main-page-cover-photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}

#services-container {
    width: 100%;
    margin: 20px 0;
    background-color: #ececec;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.service-card {
    width: 25%;
    height: 300px;
    min-width: 130px;
    border: 1px solid #d3d3d3;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    background-color: #f5f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-card img {
    height: 40%;
    width: 100%;
    object-fit: cover;
}

.service-card h4 {
    margin: 10px 0;
}

.service-card p {
    font-size: 14px;
    text-align: justify;
    margin: 0 5px;
}

#index-map-container {
    height: 300px;
    width: 100%;
}

#index-footer-container {
    height: 70px;
    width: 100%;
    background-color: #F8F9FA;
    text-align: center;
    line-height: 70px;
}

@media only screen and (max-width: 991px) {
    .container-fluid {
        width: 300px;
        margin-left: 1rem;
    }

    #navbarNav {
        background-color: rgba(176, 175, 175, 0.9);
    }

    .nav-link {
        color: #f5eeee !important;
        font-weight: 600 !important;
        font-size: 16px;
        margin-left: 3rem;
        transition: .3s;
    }

    .nav-link:hover {
        transform: scale(.98);
    }
}

@media only screen and (max-width: 700px) {
    .service-card p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 400px) {
    #main-page-image-container {
        height: 150px;
    }

    #services-container {
        flex-direction: column;
        margin: 15px 0;
    }

    .service-card {
        margin: 10px auto;
        width: 200px;
    }

    .service-card p {
        font-size: 14px;
    }
}

@media only screen and (min-width: 400px) {
    #services-container {
        height: 400px;
    }
}