/* NAVBAR*/

.nav-container {
    height: 70px;
    width: 100%;
    margin: 0 auto;
    background-color: #F8F9FA;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.navbar {
    margin: 0 auto;
    width: 800px;
    height: inherit;
    font-weight: 600;
}

/*REGISTRATION FORM*/

#registration-container {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

#login-container {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}