/* NAVBAR*/

.nav-container {
    height: 70px;
    width: 100%;
    margin: 0 auto;
    background-color: #F8F9FA;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.navbar {
    margin: 0 auto;
    width: 800px;
    height: inherit;
    font-weight: 600;
}

.container800 {
    max-width: 800px;
    margin: 0 auto;
}

/*REGISTRATION FORM*/

#registration-container {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

#login-container {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

/*MAIN PAGE*/

#main-page-image-container {
    background-image: url("../assets/main-page-cover-photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}

#services-container {
    width: 100%;
    margin: 20px 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.service-card {
    width: 25%;
    height: 300px;
    min-width: 130px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 400px) {
    #main-page-image-container {
        height: 150px;
    }

    #services-container {
        flex-direction: column;
        margin: 15px;
    }

    .service-card {
        margin: 10px auto;
        width: 200px;
    }
}

@media only screen and (min-width: 400px) {
    #services-container {
        height: 400px;
    }
}